<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>SkillSwap</h2>
</div>

<div class="center">
    <div class="card">

        <h2>Login</h2>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
        </form>

    </div>
</div>

<div class="particles"></div>

<script>
const c = document.querySelector('.particles');
for (let i = 0; i < 40; i++) {
    let s = document.createElement('span');
    s.style.left = Math.random()*100 + "vw";
    s.style.animationDuration = (Math.random()*5+5)+"s";
    c.appendChild(s);
}
</script>

</body>
</html>