<!DOCTYPE html>
<html>
<head>
    <title>Post Skill</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>SkillSwap</h2>
</div>

<div class="center">
    <div class="card">

        <h2>Post Skill</h2>

        <form method="POST">
            <input type="text" name="title" placeholder="Skill Title">
            <textarea name="description" placeholder="Description"></textarea>
            <button>Post</button>
        </form>

    </div>
</div>

<div class="particles"></div>

<script>
const c = document.querySelector('.particles');
for (let i = 0; i < 40; i++) {
    let s = document.createElement('span');
    s.style.left = Math.random()*100 + "vw";
    s.style.animationDuration = (Math.random()*5+5)+"s";
    c.appendChild(s);
}
</script>

</body>
</html>